/* AppHeader.module.css */

.header {
    display: flex;
    width: 80vw;
    margin-left: 9vw;
    justify-content: space-between;
    align-items: center;
}

.a {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
}

.nav{
    display: flex;
}
